#header-nav .container
{
	background: gray;
	width: 100%;
	padding-right: 15px;
  	padding-left: 15px;
  	margin-right: 0;
  	margin-left: 0;
  	padding-top: 30px;
  	font-size: 2em;
  	font-color:blue;
  	border-bottom:3px solid black;
}
.navbar-header
{
	text-decoration: none;

}
ul
{
	text-align: center;
}
#border1
{
border-bottom: 1px solid black;
}
#nav-list {
  background-color: gray;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
}


#main-content
{
	width: 100%;
}
.row #section1, .row #section2, .row #section3
{
	border:3px solid black;
	/*height: 700px;
	overflow: scroll;*/
	font-size: 1.6em;
	background:gray;
}

@media (min-width: 992px)
{
.col-md-4
	{
    width:32%;
    margin-right: 1.33333%;
    float:left;
    }
}

@media(min-width: 768px ) and (max-width: 991px)
{
	.col-sm-6
	{
		width: 48%;
		margin-right: 1%;
		margin-left: 1%;
		margin-bottom: 2%;
		float:left;

	}
	#section3
	{
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	}
}

@media(max-width: 767px)
{
	.col-xs-12
	{
		width:98%;
		margin-left: 1%;
		margin-right: 1%;
		margin-bottom: 2%;
	}
}



*
{
	box-sizing: border-box;
}
h3
{
	text-align: center;
	font-weight: bold;
}